
button {
    width: 80px;
    height: 80px;
    padding: 10px; 
    margin: 10px;
}

input  {
    
   
}



body {
    display: grid;
    align-items: center;
    justify-content: center;
}

#winner {
    
    text-align: center;
}

